body {
   background-color: #292d3e;
}
.page-footer {
   background-color: #676e95;
}
h4 {
   font-size: 1.5rem;
}
.nav-wrapper {
   background-color: #676e95;
}
.card-content {
   background-color: #444267;
}
.card-reveal {
   background-color: #444267;
}
.card {
   background-color: #444267;
}
